
.BodyHeader_Left {
	font-family: "";
	font-size: 10pt;
	text-decoration: none;
	background-image: url(bg1.gif);
	font-weight: bold;
	vertical-align: middle;
	height: 25px;
	width: 15px;
	cursor: pointer;
}
.BodyHeader_Middle {
	font-family: "";
	font-size: 10pt;
	text-decoration: none;
	background-image: url(bg1.gif);
	font-weight: bold;
	vertical-align: middle;
	height: 25px;
	width: auto;
	cursor: pointer;
}
.BodyHeader_Right {
	font-family: "";
	font-size: 10pt;
	text-decoration: none;
	font-weight: bold;
	background-image: url(bg1.gif);
	vertical-align: middle;
	height: 25px;
	width: 15px;
	cursor: pointer;
}
.Body {
	font-family: "";
	font-size: 9pt;
	text-decoration: none;
	vertical-align: middle;
	width: auto;
	background-color: #EEEEEE;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.BodyFooter_Left {
	font-family: "";
	font-size: 7pt;
	text-decoration: none;
	vertical-align: middle;
	height: 14px;
	width: 12px;
	background-color: #EEEEEE;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.BodyFooter_Middle {
	font-family: "";
	font-size: 7pt;
	text-decoration: none;
	vertical-align: middle;
	height: 14px;
	width: auto;
	background-color: #EEEEEE;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.BodyFooter_Right {
	font-family: "";
	font-size: 7pt;
	text-decoration: none;
	vertical-align: middle;
	height: 14px;
	width: 65px;
	background-color: #EEEEEE;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.Succ {
	font-family: "Բ";
	font-size: 36pt;
	font-style: italic;
	text-decoration: none;
	font-weight: bolder;
	color: #003366;
}
a:link {
	font-family: "";
	font-size: 9pt;
	color: #003366;
	text-decoration: none;
}
a:visited {
	font-family: "";
	font-size: 9pt;
	color: #003366;
	text-decoration: none;
}
a:hover {
	font-family: "";
	font-size: 9pt;
	color: #006699;
	text-decoration: none;
}
a:active {
	font-family: "";
	font-size: 9pt;
	color: #006699;
	text-decoration: none;
}
.normalText {
	font-family: "";
	font-size: 9pt;
	text-decoration: none;
}
.singlePXTable_Unit {
	border-top: 1px solid #000000;
	border-right: 1px none #000000;
	border-bottom: 1px none #000000;
	border-left: 1px solid #000000;
}
.singlePXTable_Table {
	border-top: 1px none #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px none #000000;
}
